/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenido oculto por defecto */
#contenido {
    display: none;
}

/* Estilos para mostrar el contenido cuando se hace clic en el enlace */
#contenido:target {
    display: block;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para secciones */
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}


h2 {
    margin-top: 0;
}

form {
    margin-top: 10px;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
    color: #555;
}

.imagen-categoria {
    border: 2px solid #333; /* Borde con un grosor de 2px y color negro (#333) */
    padding: 10px; /* Relleno de 10px alrededor de la imagen */
    width: 300px; /* Ancho fijo para las imágenes (ajusta según tus necesidades) */
    height: 200px; /* Altura fija para las imágenes (ajusta según tus necesidades) */
    margin: 10px; /* Margen entre las imágenes */
}